html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.container {
	/*background: #373a47;*/
	margin: 0.2em auto 0;
	padding: 0.3em 10em 0.3em;
	text-align: center;
}
.container  h1{
	
}
	
.menu-wrap a {
	color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #c94e50;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.content {
	display:block;
	position: relative;
	/*background: #b4bad2;*/
	text-align:center;
	background-color:#DDD;
	/*background-image:url(background.jpg);
	background-repeat:repeat;*/
}
/*********************************block set********************************************/
.content  .block {
	/*background:url(block.jpg) center center;*/
	background-color:#333;
	/*background-size:100%;*/
	display:inline-block;
	margin: 1em 0;
	padding: 0.5em 5em;
	font-weight:800;
	/*outline-style:solid;
	outline-color:#333;
	outline-width:thick;*/
	color: #CCC;
	width:80%;
	/*border-radius:10px;*/
	box-shadow:5px 5px 20px #333;
	}
.block .addbutton,.confirm {
	display: inline-block;
	margin: 0.75em;
	padding: 0.5em 2em;
	/*background: #FFF9C7;*/
	background-color:#FFA3BA;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	border-radius: 5px;
	}
.block .addbutton:hover,.confirm:hover {
	background: #FF0A47;
	color: #fffce1;
	}	
.block li{
	list-style-type:none;
	}
.block input{
	margin:1em 0 0;
	color:#000;
	background-color:#DDD;
	/*background-image:url(background.jpg);*/
	border-top-color:#999;
	border-left-color:#888;
	border-bottom-color:#FFF;
	border-right-color:#FFF;
	width:60%;
	height:2em;
	}
.block input:focus{
	outline-style:none;
	}
.block .radiobutton1,.radiobutton2,.radiobutton3 {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	background-color:#FFF9C7;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	border-radius: 5px;
}
.block .radiobutton1:hover,.radiobutton2:hover,.radiobutton3:hover {
	background: #FF0A47;
	color: #fffce1;
	}
.block select {
	margin: 1em 0 0;
	/*background-image:url(background.jpg);*/

}
.block textarea {
	width:60%;
	border-radius:5px;
	border-width:medium;
	margin: 1em 0 0;
	background-color:#DDD;
	/*background-image:url(background.jpg);*/
	border-top-color:#222;
	border-left-color:#333;
	border-bottom-color:#AAA;
	border-right-color:#777;
	}
.block textarea:focus {
	outline-style:none;
}
.block .choose {
	background: #FF0A47;
	color: #fffce1;
}
/**********************************************************************************************************/
div .topbar {
	text-align:left;
	display:inline-block;
	overflow:hidden;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: #4F5264;
	padding: 0;
	box-shadow:0 5px 20px  #5C5C5C;
	}
.topbar > a {
	display: inline-block;
	margin:0 0 0;
	padding: 0.4em 5em;
	background: #fffce1;
	outline: none;
	text-decoration: none;
	font-weight: 800;
}
.topbar > a.current-demo {
	background: #c94e50;
	color: #fffce1;
	box-shadow: 10px 10px 20px 10px #383A47;
}
.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	bottom: 0;                            /*使按钮在下面*/
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #95a5a6;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 100%;
	font-size: 1.15em;
	-webkit-transform: translate3d(-300px,0,0);
	transform: translate3d(-300px,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu {
	background: #373a47;
	width: calc(100% - 120px);
	height: 100%;
	padding: 2em 1em;
}

.icon-list {
	width: 280px;
}

.icon-list a {
	display: block;
	padding: 0.8em;
}

.icon-list a i {
	opacity: 0.5;
}

.icon-list a span {
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 0.75em;
}

/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 120px;
	height: 100%;
	top: 0;
	right: 0;
	fill: #373a47;
	z-index: 1000;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.show-menu .content-wrap {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}